.Group__info-top {
  justify-content: space-between;
}
.Group__info {
  position: relative;
}
.Group__info > * {
  margin-bottom: 20px;
}
.Group__info > :nth-child(3) {
  border-radius: 4px;
  margin-bottom: 50px;
}
.modal {
  background-color: var(--white);
  width: 567px;
  padding: 40px;
  border-radius: 8px;
  position: relative;
}
.modal > * {
  margin-bottom: 15px;
}
.modal__title > p {
  color: var(--black);
  font-weight: 700;
  font-size: 1.5rem;
}
.closemodal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal__wrapper {
  width: 570px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
