.Dashboard__top {
  background-color: var(--lightGrey);
  padding: 4%;
  padding-bottom: 2%;
}
.Dashboard__top-name {
  justify-content: space-between;
}
#dreport,
#selectmedgroup {
  border: 0.4px solid var(--black);
  border-radius: 4px;
  background-color: var(--white);
  height: 50px;
  width: 15%;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
}
.Dashboard__top-boxes {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.Dashboard__bottom {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 1% 4% 3% 4%;
}
.Dashboard__bottom > :first-child,
.Dashboard__bottom > :nth-child(2) {
  margin-bottom: 15px;
}
