.Dashboard__top-name {
  justify-content: space-between;
}
#dreport {
  border: 0.4px solid var(--black);
  border-radius: 4px;
  background-color: var(--white);
  height: 50px;
  width: 15%;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
}
.Dashboard__top-boxes {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
