.Pharmacy {
  width: 100%;
  display: flex;
}
.Pharmacy__right {
  width: 75%;
}
.Pharmacy__sidebar {
  height: 100%;
  width: 25%;
}
.Logo__container {
  padding: 5%;
  justify-content: space-around;
  background-color: var(--black);
}
.Logo__container > :first-child {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.logo__name p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}
.Pharmacy__topbar {
  padding: 1.2%;
  background-color: var(--white);
  position: relative;
  width: 100%;
}
.Topbar__input {
  width: 40%;
  background-color: var(--lightGrey);
  justify-content: space-between;
  height: 48px;
  border-radius: 4px;
}
.Topbar__input > input {
  background-color: var(--lightGrey);
  border: none;
  margin-left: 10px;
  width: 90%;
  height: 70%;
  font-size: 1.2rem;
  padding: 2px;
}
.Topbar__input > img {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  object-fit: cover;
  cursor: pointer;
}
.Topbar__input > input::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(29, 36, 46, 0.5);
  text-align: left;
}
#Search::-webkit-search-cancel-button {
  position: relative;
  right: 20px;
  height: 20px;
  width: 20px;
}
.Topbar__changelang {
  width: 15%;
  padding: 5px 20px;
  justify-content: space-between;
  margin-left: 10%;
}

.Topbar__changelang :first-child {
  width: 20px;
  height: 20px;
}
#ChangeLang {
  border: none;
  font-size: 1rem;
  margin-left: 10px;
}
.optgroup {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.Topbar__date {
  position: absolute;
  right: 50px;
}
.Pharmacy__sidebar-body {
  background-color: var(--black2);
}
.User__details {
  justify-content: space-between;
  padding: 20px 15px;
  padding-bottom: 3px;
}

.User__details-img {
  position: relative;
}

.User__details-img > :last-child {
  position: absolute;
  right: 14%;
  top: 50%;
  border: 1px solid transparent;
}
.User__details-img > :first-of-type {
  width: 62px;
  height: 62px;
  object-fit: cover;
  border-radius: 4px;
  border: 0.4px solid #888888;
  margin-right: 20px;
}
.User__details-names > :first-child {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}
.User__details-names > :not(:first-child) {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--yellow);
}
.User__details-icons {
  cursor: pointer;
  width: 70px;
  height: 50px;
  justify-content: center;
  position: relative;
}
.User__details-showprofile {
  display: none;
  position: absolute;
  top: 100%;
}
.User__details-showprofile.active {
  display: block;
}
.Pharmacy__powered {
  background-color: var(--black);
  height: 30px;
  padding: 7px;
}
.Pharmacy__powered > .p__poppins {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}
.Pharmacy__body {
  height: 89.8%;
  padding: 5%;
  background-color: var(--lightGrey);
}
