.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgba(29, 36, 46, 0.5);
}
.Pharmacy {
  width: 100%;
  height: 100vh;
  display: flex;
}
.Pharmacy__right {
  width: 75%;
  height: 100%;
}
aside {
  height: 100%;
  width: 25%;
}
.Logo__container {
  padding: 0 5%;
  justify-content: space-around;
  background-color: var(--black);
  height: 10%;
}
.Logo__container > :first-child {
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.logo__name p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}
.Pharmacy__topbar {
  padding: 1.2%;
  background-color: var(--white);
  position: relative;
  width: 100%;
  height: 10%;
  justify-content: space-between;
}
.Topbar__input {
  width: 50%;
  background-color: var(--lightGrey);
  justify-content: space-between;
  height: 48px;
  border-radius: 4px;
}

.Topbar__input > input {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 90%;
  height: 80%;
  font-size: 1.2rem;
  padding: 10px;
}
.Topbar__input > input:focus {
  outline: none;
  border: 1px solid var(--skyBlue);
  border-radius: 4px;
}
.Topbar__input > img {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  object-fit: cover;
  cursor: pointer;
}
.Topbar__input > input::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(29, 36, 46, 0.5);
  text-align: left;
}
.Topbar__changelang {
  width: 15%;
}
.Topbar__changelang :first-child {
  width: 20px;
  height: 20px;
}
#ChangeLang {
  border: none;
  font-size: 1rem;
}
.optgroup {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.Pharmacy__sidebar-body {
  background-color: var(--black2);
  height: 90%;
  overflow: auto;
  width: 100%;
}
.Pharmacy__powered {
  background-color: var(--black);
  padding: 0 9%;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  height: calc(85% / 11);
}
.User__details {
  justify-content: space-between;
  padding: 0 5%;
  height: 15%;
  background-color: var(--black2);
}

.User__details-img {
  position: relative;
}

.User__details-img > :last-child {
  position: absolute;
  right: 14%;
  top: 50%;
  border: 1px solid transparent;
}
.User__details-img > :first-of-type {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 4px;
  border: 0.4px solid #888888;
  margin-right: 20px;
}
.User__details-names {
  height: 42px;
  justify-content: space-between;
}
.User__details-names > :first-child {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
}
.User__details-names > :not(:first-child) {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--yellow);
}
.User__details-icons {
  cursor: pointer;
  width: 70px;
  height: 50px;
  justify-content: center;
  position: relative;
}
.User__details-showprofile {
  display: none;
  position: absolute;
  top: 100%;
}
.User__details-showprofile.active {
  display: block;
}

.Pharmacy__body {
  height: 90%;
}
