.Medicine__info-top > :first-child {
  justify-content: space-between;
}
.Medicine__info-top > .Topbar__input {
  margin-top: 20px;
}
.Medicine__data {
  border: 1px solid rgba(29, 36, 46, 0.3);
  background-color: var(--white);
  border-radius: 4px;
}
.Medicine__data-title {
  padding: 10px 20px;
  justify-content: space-between;
}
.Medicine__info-mid > .flex__container {
  justify-content: space-between;
  margin-top: 20px;
}
.Medicine__data-a {
  width: 49%;
}
.Medicine__data-a > .splitter,
.splitter {
  border: 1px solid rgba(29, 36, 46, 0.3);
}
.Medicine__data-body {
  padding: 20px;
  justify-content: space-between;
}
.Medicine__data-title > p:first-of-type {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
}
.Medicine__data-section :first-child {
  font-weight: 800;
  font-size: 1.2rem;
}
.Medicine__data-section :nth-child(2) {
  font-weight: 500;
  font-size: 0.9rem;
}
.Medicine__data-description {
  padding: 20px;
}
.Medicine__data-description p {
  font-size: 0.9rem;
  color: var(--black);
}
.Medicine__data-b {
  margin-top: 15px;
}
.deleteMedicine {
  margin-top: 5px;
}
.medicnedatasplitter {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}
.edit__modal {
  width: 500px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
}
.edit__modal-header {
  justify-content: space-between;
  margin-bottom: 30px;
}
.edit__modal-header > p {
  font-weight: 700;
  font-size: 1.5rem;
}
.edit__modal-input {
  align-items: unset;
}
label {
  font-family: "Poppins", sans-serif;
}
.edit__modal label {
  font-weight: 500;
  font-size: 1rem;
  color: #87898e;
}
.edit__modal-input div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
#savebutton {
  width: 90%;
  height: 56px;
  align-self: center;
  cursor: pointer;
  background-color: var(--skyBlue);
  border: none;
  color: var(--white);
  border-radius: 50px;
  font-size: 1rem;
}
#savebutton:hover {
  background-color: rgb(3, 169, 245, 0.9);
  transition: background-color 300ms ease-in;
}
.edit__modal-input input,
textarea {
  border: 1px solid var(--border);
  height: 35px;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
  outline: none;
}
.edit__modal-input input:hover,
textarea:hover {
  border: 1px solid var(--black);
}
.edit__modal-input input:focus,
textarea:focus {
  border: 1px solid var(--skyBlue);
  outline: none;
}
.Medicine__info-container {
  position: relative;
}
.edit__modal {
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 3;
}
.edit__modal-header > img {
  cursor: pointer;
}
.editmedicinebutton {
  cursor: pointer;
}
#medicinehowtouseinput,
#medicinesideeffectsinput {
  height: 100px;
  border-radius: 8px;
}
.Medicine__info-overlay {
  position: absolute;
  height: 120%;
  width: 75%;
  z-index: 2;
  background-color: rgba(29, 36, 46, 0.5);
  transition: background-color 200s ease-in-out;
}
.deletemedicine__container {
  border: 1px solid var(--red);
  border-radius: 4px;
  width: 179px;
  height: 46px;
  cursor: pointer;
  justify-content: center;
  margin-top: 30px;
}
.deletemedicine__container > input {
  border: none;
  color: var(--red);
  cursor: pointer;
}
.deletemedicine__container > img {
  margin-right: 10px;
}
