.Salesreport__top {
  justify-content: space-between;
}
.Salesreport__mid {
  justify-content: space-between;
  margin-top: 30px;
}
.Salesreport__mid p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
/* .Salesreport__mid-date input {
  font-family: "Poppins", sans-serif;
  width: 340px;
  height: 38px;
  border-radius: 4px;
  background-color: #e3ebf3;
  text-align: center;
  border: 0.2px solid #1d242e;
  padding: 0px 20px;
  outline: none;
} */
#selectsalesmedgroup,
#selectsalesusername {
  height: 56px;
  width: 200px;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: rgb(174, 181, 187);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(91, 94, 97);
}
#selectsalesmedgroup:hover,
#selectsalesusername:hover {
  border-color: #000;
  transition: border-color 100ms ease-in;
}
#selectsalesmedgroup:focus,
#selectsalesusername:focus {
  transition: border-color 100ms ease-in;
  border-color: var(--skyBlue);
  border-width: 2px;
}
.Salesreport__bottom {
  margin-top: 30px;
  justify-content: space-between;
}
.Salesreport__bottom-chart {
  width: 526px;
  border: 1px solid rgb(174, 181, 187);
  background-color: var(--white);
}
.Salesreport__bottom-chart:hover {
  border: 1px solid var(--skyBlue);
}
.Salesreport__bottom-chart:hover > .Configuration__container-splitter {
  background-color: var(--skyBlue);
}
.Salesreport__bottom-chart > p {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
.Salesreport__bottom-orders {
  border: 1px solid rgb(174, 181, 187);
  background-color: var(--white);
}
.Salesreport__bottom-orders:hover {
  border: 1px solid var(--skyBlue);
}
.Salesreport__bottom-orders:hover > .Configuration__container-splitter {
  background-color: var(--skyBlue);
}
.Orders__title {
  justify-content: space-evenly;
}
.Orders__title > p {
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 10px;
}
.Orders__body {
  padding: 9px;
}
.Orders__body p {
  font-weight: 400;
  font-size: calc(1rem - 2px);
  margin: 7.5px 20px;
  color: var(--black);
}
