.RightTab {
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
}
.RightTab p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  margin-left: 20px;
}

.dashDashboard {
  background-color: var(--primaryGreen);
}
.inventInventory {
  background-color: var(--primaryGreen);
}
.repoReports {
  background-color: var(--primaryGreen);
}
.confConfiguration {
  background-color: var(--primaryGreen);
}
.contContact {
  background-color: var(--primaryGreen);
}
.notNotifications {
  background-color: var(--primaryGreen);
}
.chatChat {
  background-color: var(--primaryGreen);
}
.setApplication {
  background-color: var(--primaryGreen);
}
.covCovid-19 {
  background-color: var(--primaryGreen);
}
.techGet {
  background-color: var(--primaryGreen);
}

.dropdown__icon {
  position: absolute;
  right: 20px;
}
.splitter {
  width: 100%;
  height: 0.1px;
  background-color: var(--white);
}
.space {
  height: 15px;
}
