.Inventory__container {
  padding: 4%;
  height: calc(101% + 6px);
  background-color: var(--lightGrey);
}
.Inventory__body {
  margin-top: 50px;
  flex-wrap: wrap;
}
.Inventory__body > * {
  margin-right: 50px;
}
