.Inventory__container-top {
  justify-content: space-between;
  align-items: center;
}
.Inventory__container-mid {
  justify-content: space-between;
  margin-top: 25px;
}
#SearchMedicineInventoryContainer {
  border: 1px solid var(--black);
}
#selectmedgroup {
  width: 200px;
}
.SearchMed > :first-child {
  margin-right: 20px;
  height: 20px;
  width: 20px;
  object-fit: cover;
}
.Inventory__container-bottom {
  background-color: var(--white);
  border: var(--lightGrey);
  border-radius: 4px;
  margin-top: 20px;
}
.Inventory__container-titles {
  justify-content: space-around;
}

.Inventory__container-titles > * {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  cursor: pointer;
  width: 200px;
}
.Inventory__container-titles > :first-child {
  margin-left: 50px;
}
.Inventory__container-titles > div > :nth-child(2) {
  margin-left: 5px;
}
.Inventory__container-titles p {
  font-weight: 600;
  font-size: 1rem;
}
#pageswitch {
  text-align: center;
  border: none;
  background-color: transparent;
  width: 90px;
  height: 20px;
}
.listofmeds__footer {
  margin-top: 30px;
  justify-content: space-between;
  padding: 0px 10px;
}
