.Date__greeting {
  font-weight: 600;
  color: var(--black);
  font-size: 1.2rem;
  margin-left: 20px;
}
.Date__btm > :first-child {
  margin-right: 45px;
}
.Date__btm > * {
  font-size: 0.8rem;
  color: var(--black);
}
.Date__btm > :last-child {
  width: 50px;
  text-align: right;
}
