@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --black: #1d242e;
  --black2: #283342;
  --red: #f0483e;
  --green: #01a768;
  --skyBlue: #03a9f5;
  --yellow: #fed600;
  --white: #ffffff;
  --primaryGreen: #009099;
  --lightGrey: #e3ebf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.p__poppins {
  font-family: "Poppins", sans-serif;
}
.flex__container {
  display: flex;
  align-items: center;
}
.flex__container-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
