@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --black: #1d242e;
  --black2: #283342;
  --red: #f0483e;
  --green: #01a768;
  --skyBlue: #03a9f5;
  --yellow: #fed600;
  --white: #ffffff;
  --primaryGreen: #009099;
  --lightGrey: #e3ebf3;
  --border: rgb(174, 181, 187);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p,
.p__poppins {
  font-family: "Poppins", sans-serif;
}
.flex__container {
  display: flex;
  align-items: center;
}
.flex__container-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input,
textarea,
select {
  font-family: "Poppins", sans-serif;
}
select {
  cursor: pointer;
  text-align: center;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  height: 16px;
  width: 16px;
  background-image: url("./Assets/CancelSearch.svg");
  background-size: 16px 16px;
  cursor: pointer;
}
